<% provide(:title, "Help") %>
<h1><%= t("help") %></h1>
<p>
  <%= t("help_text_0") %>
  <%= link_to t("help_link_0"), "https://www.railstutorial.org/help" %>
  <%= t("help_text_1") %>
  <%= link_to t("help_link_1"), "https://www.railstutorial.org/book" %>
</p>
